<h1 class="text-primary text-center bg-warning">{{title}}</h1>
<app-header></app-header>
<app-nav></app-nav>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptatum tenetur deserunt doloribus corrupti molestiae! Impedit ex nihil numquam voluptatem placeat voluptates possimus sint in libero laudantium voluptas rem odio atque fugit, cum nam similique assumenda dignissimos nesciunt hic repudiandae! Dolores laborum dolorum, minima vitae inventore sit quod et minus?</p>
<p>
  2 + 2 = {{2+2}}
</p>
<p [style.color]="'red'">{{text}}</p> 
<p [textContent]="text"></p>
<p>{{getTitle()}}</p>
<input type="text" [(ngModel)]="name">
<p>name - {{ name }}</p>
<app-footer></app-footer>